@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #1a285f;
  --offwhite: #e3eaf9;
}
body {
  background-color: var(--blue);
  font-family: "Alegreya Sans", sans-serif;
}
.container {
  max-width: 1280px;
  height: calc(100vh - 70px);
  margin: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  h1 {
    font-size: 58px;
    font-weight: 400;
    line-height: 70px;
    color: white;
  }
  p {
    font-size: 25px;
    color: white;
    letter-spacing: 0.125rem;
    line-height: 2rem;
  }
  span {
    color: #54b7c8;
  }
}
.card {
  width: 50%;
  height: 350px;
  align-items: center;
  background-color: var(--offwhite);
  padding: 2rem;
  border-radius: 15px;
}
.display {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  input {
    width: 100%;
    height: 50px;
    padding: 1rem;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
  }
  .btn {
    display: flex;
    gap: 2rem;
    height: 50px;

    .primary-btn {
      background-color: #085bc0;
      color: white;
      font-size: 16px;
      border: 2px solid #085bc0;
      outline: none;
      border-radius: 5px;
      padding: 1rem;
    }
    .secondary-btn {
      background-color: transparent;
      font-size: 16px;
      border: 2px solid #085bc0;
      outline: none;
      border-radius: 5px;
      padding: 1rem;
    }
  }
}
.footer_area{
  p {
    color: #5b6ba5;
    font-size: 20px;
    text-align: right;
    margin-right: 70px;
  } 
}
@media (max-width: 1280px) {
  .container {
    margin: auto 100px;
  }
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    gap: 35px;
    margin: auto;
  }
  .content {
    width: 100%;
    display: flex;
    gap: 15px;
    h1 {
      font-size: 25px;
      line-height: 35px;
    }
    p {
      font-size: 15px;
    }
  }
  .card {
    width: 100%;
  }
  .primary-btn {
    display: flex;
    align-items: center;
  }
  .secondary-btn {
    display: flex;
    align-items: center;
  }
}
